name: test
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Build Docker image
        run: docker build -t test-cargo-udeps .

      - name: Run list
        run: docker run -v ${PWD}/test:/test test-cargo-udeps
